
.vs/
packages/
BeatSaberPlus/obj/
BeatSaberPlus/bin/

Modules/BeatSaberPlus_Chat/obj/
Modules/BeatSaberPlus_Chat/bin/
Modules/BeatSaberPlus_ChatEmoteRain/obj/
Modules/BeatSaberPlus_ChatEmoteRain/bin/
Modules/BeatSaberPlus_ChatIntegrations/obj/
Modules/BeatSaberPlus_ChatIntegrations/bin/
Modules/BeatSaberPlus_ChatRequest/obj/
Modules/BeatSaberPlus_ChatRequest/bin/
Modules/BeatSaberPlus_GameTweaker/obj/
Modules/BeatSaberPlus_GameTweaker/bin/
Modules/BeatSaberPlus_MenuMusic/obj/
Modules/BeatSaberPlus_MenuMusic/bin/
Modules/BeatSaberPlus_NoteTweaker/obj/
Modules/BeatSaberPlus_NoteTweaker/bin/
Modules/BeatSaberPlus_SongChartVisualizer/obj/
Modules/BeatSaberPlus_SongChartVisualizer/bin/
Modules/BeatSaberPlus_SongOverlay/obj/
Modules/BeatSaberPlus_SongOverlay/bin/

PrivateModules/BeatSaberPlusYoutube/obj/
PrivateModules/BeatSaberPlusYoutube/bin/
PrivateModules/BeatSaberPlus_ChatIntegrationsActions/obj/
PrivateModules/BeatSaberPlus_ChatIntegrationsActions/bin/
PrivateModules/BeatSaberPlus_ChatIntegrationsActions/UI/Crypted/
PrivateModules/BeatSaberPlus_CustomEdition/obj/
PrivateModules/BeatSaberPlus_CustomEdition/bin/
PrivateModules/BeatSaberPlusYoutube/obj/
PrivateModules/BeatSaberPlusYoutube/bin/
PrivateModules/BeatSaberPlusYoutube/Resources/Crypted/CRYPTED_Endpoint.txt
PrivateModules/BeatSaberPlus_Multiplayer/obj/
PrivateModules/BeatSaberPlus_Multiplayer/bin/

Plugins/BeatSaberPlus_VoiceAttack/obj/
Plugins/BeatSaberPlus_VoiceAttack/bin/

Samples/BeatSaberPlus_ModuleTemplate/obj/
Samples/BeatSaberPlus_ModuleTemplate/bin/

Test/bin/
Test/obj/

# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
ChatEmoteRainUnity/[Ll]ibrary/
ChatEmoteRainUnity/[Tt]emp/
ChatEmoteRainUnity/[Oo]bj/
ChatEmoteRainUnity/[Bb]uild/
ChatEmoteRainUnity/[Bb]uilds/
ChatEmoteRainUnity/[Ll]ogs/
ChatEmoteRainUnity/[Uu]ser[Ss]ettings/

# MemoryCaptures can get excessive in size.
# They also could contain extremely sensitive data
ChatEmoteRainUnity/[Mm]emoryCaptures/

# Asset meta data should only be ignored when the corresponding asset is also ignored
!ChatEmoteRainUnity/[Aa]ssets/**/*.meta

# Uncomment this line if you wish to ignore the asset store tools plugin
# /[Aa]ssets/AssetStoreTools*

# Autogenerated Jetbrains Rider plugin
ChatEmoteRainUnity/[Aa]ssets/Plugins/Editor/JetBrains*

*.user
