
.vs/
packages/
BeatSaberPlus/obj/
BeatSaberPlus/bin/

Modules/BeatSaberPlus_Chat/obj/
Modules/BeatSaberPlus_Chat/bin/
Modules/BeatSaberPlus_ChatEmoteRain/obj/
Modules/BeatSaberPlus_ChatEmoteRain/bin/
Modules/BeatSaberPlus_ChatIntegrations/obj/
Modules/BeatSaberPlus_ChatIntegrations/bin/
Modules/BeatSaberPlus_ChatRequest/obj/
Modules/BeatSaberPlus_ChatRequest/bin/
Modules/BeatSaberPlus_GameTweaker/obj/
Modules/BeatSaberPlus_GameTweaker/bin/
Modules/BeatSaberPlus_MenuMusic/obj/
Modules/BeatSaberPlus_MenuMusic/bin/
Modules/BeatSaberPlus_NoteTweaker/obj/
Modules/BeatSaberPlus_NoteTweaker/bin/
Modules/BeatSaberPlus_SongChartVisualizer/obj/
Modules/BeatSaberPlus_SongChartVisualizer/bin/
Modules/BeatSaberPlus_SongOverlay/obj/
Modules/BeatSaberPlus_SongOverlay/bin/

Samples/BeatSaberPlus_ModuleTemplate/obj/
Samples/BeatSaberPlus_ModuleTemplate/bin/

*.user
